<!--INFORMACION-->
<div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h1 style="font-family: 'Roboto Slab', serif;">EDITORIALES</h1>
        <i style="color: maroon" class="instagram icon"></i><i style="color: blue;" class="facebook icon"></i><i style="color: #FF8800;" class="snapchat icon"></i><i style="color: green;" class="whatsapp icon"></i><i style="color: red;" class="pinterest icon"></i>
      </li>
      <li class="list-group-item">El catálogo de libros de VirtualBooksKinal organiza por temáticas los títulos publicados por las editoriales del Grupo Planeta en España. En Planeta de Libros cada una de estas editoriales mantiene una personalidad propia y el conjunto constituye la más amplia y variada propuesta editorial del mercado.</li>
  </ul>
</div>

<!--BUTTON AGREGAR-->
<button *ngIf='idRol == 1' class="ui basic button button-add" (click)="open(modalCreate); deleteData()">
  <i class="book icon"></i>
  Add Editorial
</button>
<!--BUSCADOR-->
<div class="md-form" style="width: 350px; margin-top: 10px;">
  <i class="fa fa-envelope prefix"></i>
  <input type="text" id="inputIconEx1" class="form-control" [(ngModel)]="data" (keyup)= 'buscarEditorial(data)'>
  <label for="inputIconEx1">Search</label>
</div>
<!-- msg Error -->
<div class="alert alert-dismissible alert-danger" *ngIf= "msgError" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>ERROR EDITORIAL NO ENCONTRADA</h4>
    <p>No hay una Editorial que coincida con: {{data}} </p>
</div>

<!--CARD EDITORIAL-->
<div style="margin-left: 10%;" class="ui link cards card-data">
  <div class="card" *ngFor = 'let item of lista'>
      <div class="image">
        <img style="width: 290px; height: 280px;" src="/assets/editorial.jpg">
      </div>
      <div class="content">
        <div class="header">{{item.editorial}}</div>
        <button *ngIf='idRol == 1' class="btn btn-default" (click)="open(modalUpdate); setData(item)">Editar</button>
        <button *ngIf='idRol == 1' class="btn btn-default" (click)="open(modalDelete); setData(item)">Eliminar</button>
      </div>
      <div class="extra content">
        <span>
          <i class="user icon"></i>
          Editorial
        </span>
      </div>
  </div>
</div>

<!-- modal Agregar-->
<ng-template #modalCreate let-c="close" let-d="dismiss">
  <div class="modal-header ">
    <h4 class="modal-title">Agregar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <label>Editorial</label>
      <input [(ngModel)] = 'editorial' type="text" class="form-control" placeholder="Escribir Aqui">
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click'); createEditorial(editorial)">Confirmar</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<!-- modal Actualizar-->
<ng-template #modalUpdate let-c="close" let-d="dismiss">
  <div class="modal-header" >
  <h4 class="modal-title">Editar</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <label>Editorial</label>
    <input [(ngModel)] = 'editorial' type="text" class="form-control" placeholder="Escribir Aqui">
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="c('Close click'); updateEditorial(editorial)">Confirmar</button>
  <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<!-- modal Eliminar-->
<ng-template #modalDelete let-c="close" let-d="dismiss">
  <div class="modal-header" >
  <h4 class="modal-title">Eliminar</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <label>¿Esta seguro que quiere eliminar el siguiente registro?</label>
  <hr>
  <label>ID Editorial</label>
  <p>{{idEditorial}}</p>
  <label>Editorial</label>
  <p>{{editorial}}</p>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="c('Close click'); deleteEditorial()">Si</button>
  <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">No</button>
  </div>
</ng-template>