<!--INFORMACION-->
<div class="fondo-libro"></div>
<div style="background-color: #fff9c4 ;">
    <div style="margin-top: 0%;" >
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h1 style="font-family: 'Roboto Slab', serif;">LIBROS</h1>
                <i style="color: maroon" class="instagram icon"></i>
                <i style="color: blue;" class="facebook icon"></i>
                <i style="color: #FF8800;" class="snapchat icon"></i>
                <i style="color: green;" class="whatsapp icon"></i>
                <i style="color: red;" class="pinterest icon"></i>
            </li>
            <li style="font-size: 20px;" class="list-group-item">Todas las novelas las encontrarás aquí. Descubre miles de lecturas que te atraparán desde la primera página.</li>
        </ul>
    </div>

    <!--BUTTON AGREGAR-->
    <button *ngIf='idRol == 1' class="ui basic button button-add" (click)="open(modalCreate); deleteData()">
        <i class="book icon"></i>
        Add Book
    </button>
  
    <!--BUSCADOR-->
    <div class="md-form" style="width: 350px; margin-top: 10px;">
        <i class="fa fa-envelope prefix"></i>
        <input type="text" id="inputIconEx1" class="form-control" [(ngModel)]="data" (keyup)= 'buscarLibro(data)'>
        <label for="inputIconEx1">Search</label>
    </div>

    <!--SELECCIONAR CATEGORIA-->
    <select class="custom-select" [(ngModel)] = 'idCategoria' style="margin-top: 0.5%; margin-bottom: 4.5%; width: 22%; margin-left: 2.5%;" (change)='filtrarCategoria(idCategoria)'>
        <option *ngFor='let item of listaCategorias' value="{{item.idCategoria}}" selected>{{ item.categoria }}</option>
    </select>  
    <!--SELECCIONAR EDITORIAL-->
    <select class="custom-select" [(ngModel)] = 'idEditorial' style="margin-top: 0.5%; margin-bottom: 4.5%; width: 22%; margin-left: 2.5%;" (change)='filtrarEditorial(idEditorial)'>
        <option *ngFor='let item of listaEditoriales' value="{{item.idEditorial}}" selected>{{ item.editorial }}</option>
    </select>  

    <!-- MSG ERROR BUSCAR -->
    <div class="alert alert-dismissible alert-danger" *ngIf= "msgError" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>ERROR LIBRO NO ENCONTRADO</h4>
        <p>No hay un Libro que Coincida Con: {{data}} </p>
    </div>

    <!-- MSG ERRROR FILTRO CATEGORIA-->
    <div class="alert alert-dismissible alert-danger" *ngIf= "msgError2" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>ERROR NO HAY LIBROS EN ESTA CATEGORIA</h4>
    </div>

    <!-- MSG ERRROR FILTRO EDITORIAL-->
    <div class="alert alert-dismissible alert-danger" *ngIf= "msgError3" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>ERROR NO HAY LIBROS DE ESTA EDITORIAL</h4>
    </div>

    <!-- MSG BUSCADOR -->
    <div class="alert alert-dismissible alert-danger" *ngIf= "msgError" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>LIBRO PRESTAMO CON ÉXITO</h4>
        <p>No hay un Libro que Coincida Con: {{data}} </p>
    </div>

    <!--PANEL-->
    <div style="background-color: #cfd8dc; width: 65%; height: 70%;" class="jumbotron center">
        <div class="header">
        <h1 class="h1-responsive">Recomendación para ti!</h1>
        </div>
        <div id="izquierda"><img id="imagen-recomendacion"></div>
        <p style="font-family: 'Roboto Slab', serif;" class="lead">La chica invisible</p>
        <h2>Blue Jeans </h2>
        <p>En este instituto todos tienen secretos, todos parecen culpables, todos son sospechosos.</p>
        <hr class="my-2">
        <h4>Sinopsis de La chica invisible</h4>
        <p>Aurora Ríos es invisible para casi todos. Los acontecimientos del pasado han hecho que se aísle del mundo y que apenas se relacione. A sus diecisiete años, no tiene amigos y está harta de que los habitantes de aquel pueblo hablen a su espalda. 
            Una noche de mayo, su madre no la encuentra en casa cuando regresa del trabajo. No es lo habitual. Aurora aparece muerta a la mañana siguiente en el vestuario de su instituto, el Rubén Darío. Tiene un golpe en la cabeza y han dejado una brújula junto a su cuerpo. 
            ¿Quién es el responsable de aquel terrible suceso? Julia Plaza, compañera de clase de la chica invisible, está obsesionada con encontrar la respuesta
        </p>
    </div>
  
<!--CARD LIBRO-->
<div class="ui link cards card-data" style="display: inline-block;" *ngFor = 'let item of lista'>
    <div class="card">
        <div class="image" *ngIf='idRol == 1'>
            <img style="height: 400px !important;" data-toggle="modal" data-target="#portadaModal" (click)="setData(item)" src="http://localhost:3000/libro/imagen/{{ item.portada }}">
        </div>
        <div class="image porta" *ngIf='idRol == 2'>
            <img style="height: 400px !important;" src="http://localhost:3000/libro/imagen/{{ item.portada }}">
        </div>
        <div class="content">
        <div class="header">{{item.titulo}}</div>
        </div>
        <div class="extra content" *ngIf='idRol == 1'>
            <button class="btn btn-default" (click)="open(modalUpdate); setData(item)">Editar</button>
            <button class="btn btn-default" (click)="open(modalDelete); setData(item)">Eliminar</button>
        </div>
        <div class="extra content" *ngIf = 'idRol == 2'>
            <button class="btn btn-default" data-toggle="modal"  data-target="#prestamoModal" (click)="setData(item);">Prestar</button>
            <button class="btn btn-default" (click)="setPDF(item.pdf);">Leer Libro</button>
        </div>
    </div>
</div>

<!--INFORMACION -->
<!-- Card Wider -->
<div style="margin-top: 3%; margin-bottom: 20%; width: 65%; height: 70%;" class="card card-cascade wider center">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="/assets/fondo-literatura.jpg" alt="Card image cap">
            <a href="#!">
            <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        
        <!-- Card content -->
        <div style="background-color: #455a64;" class="card-body text-center">

            <!-- Title -->
            <h1 style="font-family: 'Roboto Slab', serif; color: white;" class="card-title"><strong>Para los amantes de la Novelas!</strong></h1>
            <!-- Subtitle -->
            <h5 class="blue-text pb-2"><strong>Novedades...</strong></h5>
            <!-- Text -->
            <p  style="font-family: 'Roboto Slab', serif; color: white;"  class="card-text">El otoño se presenta cargado de novedades literarias y muchos lectores esperan la gran novela. ¿Cuál será el título que desbanque a Patria del primer puesto de los libros más vendidos? 
            ¿Se harán Paul Auster o Salman Rushdie con el título de "la gran novela de la era Trump" gracias a sus nuevos trabajos? También publican nueva novela autores como Almudena Grandes, Javier Marías, Arturo Pérez-Reverte o Carlos Zanón en el terreno de la literatura 
            en español y superventas como Ken Follet, Dan Brown o John Grisham. </p>

            <!-- Linkedin -->
            <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
            <!-- Twitter -->
            <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
            <!-- Dribbble -->
            <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>

        </div>
</div>
<!-- Card Wider -->
</div>
  
<!-- modal Agregar-->
<ng-template #modalCreate let-c="close" let-d="dismiss">
      <div class="modal-header ">
        <h4 class="modal-title">Agregar</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label>Titulo</label>
          <input [(ngModel)]='titulo' type="text" class="form-control" placeholder="Escribir Aqui">
      </div>
      <label style="margin-left: 10px">Autor</label>
      <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"  [(ngModel)]='idAutor' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaAutores;' value='{{item.idAutor}}'>{{item.nombre}} {{item.apellido}}</option>
        </select>
      </div>
      <label style="margin-left: 10px">Editorial</label>
      <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"  [(ngModel)] = 'idEditorial' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaEditoriales;' value='{{item.idEditorial}}'>{{item.editorial}}</option>
        </select>
      </div>
      <div class="modal-body">
        <label>Edicion</label>
        <input [(ngModel)] = 'edicion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Tema</label>
        <input [(ngModel)] = 'tema' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Paginas</label>
        <input [(ngModel)] = 'paginas' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Descipcion</label>
        <input [(ngModel)] = 'descripcion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <label style="margin-left: 10px">idCategoria</label>
      <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"  [(ngModel)] = 'idCategoria' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaCategorias;' value='{{item.idCategoria}}'>{{item.categoria}}</option>
        </select>
      </div>
    <div class="modal-body">
        <label>Cantidad</label>
        <input [(ngModel)] = 'cantidad' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Fecha Publicacion</label>
        <input [(ngModel)] = 'fechaPublicacion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click'); createLibro(titulo,idAutor,idEditorial,edicion,tema,paginas,descripcion,idCategoria,cantidad,fechaPublicacion); deleteData()">Confirmar</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>
      
<!-- modal Actualizar-->
<ng-template #modalUpdate let-c="close" let-d="dismiss">
    <div class="modal-header" >
        <h4 class="modal-title">Editar</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>Titulo</label>
        <input [(ngModel)] = 'titulo' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <label style="margin-left: 10px">Autor</label>
    <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"   [(ngModel)] = 'idAutor' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaAutores;' value='{{item.idAutor}}'>{{item.nombre}} {{item.apellido}}</option>
        </select>
    </div>
    <label style="margin-left: 10px">Editorial</label>
    <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"   [(ngModel)] = 'idEditorial' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaEditoriales;' value='{{item.idEditorial}}'>{{item.editorial}}</option>
        </select>
    </div>
    <div class="modal-body">
        <label>Edicion</label>
        <input [(ngModel)] = 'edicion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Tema</label>
        <input [(ngModel)] = 'tema' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Paginas</label>
        <input [(ngModel)] = 'paginas' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Descipcion</label>
        <input [(ngModel)] = 'descripcion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <label style="margin-left: 10px">Categoria</label>
    <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"   [(ngModel)] = 'idCategoria' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaCategorias;' value='{{item.idCategoria}}'>{{item.categoria}}</option>
        </select>
    </div>
    <div class="modal-body">
        <label>Cantidad</label>
        <input [(ngModel)] = 'cantidad' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Año</label>
        <input [(ngModel)] = 'fechaPublicacion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="c('Close click'); updateLibro();">Confirmar</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>
      
<!-- modal Eliminar-->
<ng-template #modalDelete let-c="close" let-d="dismiss">
<div class="modal-header" >
    <h4 class="modal-title">Eliminar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <label>¿Esta seguro que quiere eliminar el siguiente registro?</label>
        <label>ID Libro</label>
        <p>{{idLibro}}</p>
        <label>Titulo</label>
        <p>{{titulo}}</p>
        <label>Id Autor</label>
        <p>{{ obtenerAutor(idAutor) }}</p>
        <label>Id Editorial</label>
        <p>{{ obtenerEditorial(idEditorial) }}</p>
        <label>Edicion</label>
        <p>{{edicion}}</p>
        <label>Tema</label>
        <p>{{tema}}</p>
        <label>Paginas</label>
        <p>{{paginas}}</p>
        <label>Descripcion</label>
        <p>{{descripcion}}</p>
        <label>Id Categoria</label>
        <p>{{ obtenerCategoria(idCategoria) }}</p>
        <label>Cantidad</label>
        <p>{{cantidad}}</p>
        <label>Disponibles</label>
        <p>{{disponibles}}</p>
        <label>Año</label>
        <p>{{fechaPublicacion}}</p>
    </div>
<div class="modal-footer">
<button type="button" class="btn btn-outline-danger" (click)="c('Close click'); deleteLibro()">Si</button>
<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">No</button>
</div>
</ng-template>

<!-- Modal Prestamo -->
<div class="modal fade" id="prestamoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ titulo }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Fecha de Prestamo: <span>  {{ obtenerFechaPrestamo() }}</span></p>
                <p>Fecha de Entrega:  <span>  {{ obtenerFechaEntrega() }}</span></p>
                <br>
                <br>
                <h5>¡Tendras que Presentar el Libro el Dia Indicado! COSTO POR MORA: Q 2.00</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" (click)="('Close click'); prestarLibro();" data-toggle="modal" data-target="#prestamoCorrectamente" data-dismiss="modal">Confirmar</button>
                <button type="button" style="background-color: #f44336;" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Portada -->
<div class="modal fade" id="portadaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Subir Portada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="input-photo" type="file" (change)="subirPortada(idLibro,$event)">
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #f44336;" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>