.form-simple .font-small {
    font-size: 0.8rem; 
}
  
.form-simple .header {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px; 
}
  
.form-simple input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547; 
}
  
.form-simple input[type=text]:focus:not([readonly]) + label {
    color: #4f4f4f; }
  
.form-simple input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547; 
}
  
.form-simple input[type=password]:focus:not([readonly]) + label {
    color: #4f4f4f; 
}

.formulario{
    margin-top: 25px !important;
    margin: 0 auto;
    width: 500px;
}

.formulario-photo{
    width: 200px;
    margin: 0 auto;
}

.avatar-pic {
    width: 150px;
    display:block;
    margin:auto; 
}

.input-photo{
    width: 200px;
    
}