<section class="form-simple formulario">
    <!--Form with header-->
    <div class="card">
        <!--Header-->
        <div class="header pt-3 grey lighten-2">
            <div class="row d-flex justify-content-start">
                <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Editar Perfil</h3>
            </div>
        </div>
        <!--Header-->
        <div class="card-body mx-4 mt-4" >
            <form class="md-form formulario-photo">
                <div class="file-field">
                    <div class="mb-4">
                        <img src="http://localhost:3000/usuario/imagen/{{ foto }}" class="rounded-circle z-depth-1-half avatar-pic">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button data-toggle="modal" data-target="#fotoModal" class="btn btn-primary">Editar Foto</button>
                    </div>
                </div>
            </form>
            <!--Body-->
            <div class="md-form">
                <input [(ngModel)]='nombre' type="text" id="nombre" value="{{ nombre }}" class="form-control">
                <label class="active" for="Form-nombre">Nombre</label>
            </div>
            <div class="md-form">
                <input [(ngModel)]='apellido' type="text" id="apellido" value="{{ apellido }}" class="form-control">
                <label class="active" for="Form-apellido">Apellido</label>
            </div>
            <div class="md-form">
                <input [(ngModel)]='correo' type="text" id="correo" value="{{ correo }}" class="form-control">
                <label class="active" for="Form-correo">Correo</label>
            </div>
            <div class="md-form">
                <input [(ngModel)]='telefono' type="text" id="telefono"  value="{{ telefono }}" class="form-control">
                <label class="active" for="Form-telefono">Telefono</label>
            </div>
            <div class="md-form">
                <input [(ngModel)]='usuario' type="text" id="usuario" value="{{ usuario }}" class="form-control">
                <label class="active" for="Form-usuario">Usuario</label>
            </div>
            <div class="md-form pb-3">
                <input [(ngModel)]='password' type="password" id="pass"  value="{{ password }}" class="form-control">
                <label class="active" for="Form-pass">Contraseña</label>
            </div>
            <div class="text-center mb-4">
                <button type="button" class="btn btn-danger btn-block z-depth-2" (click)='editarPerfil()'>Editar</button>
            </div>
        </div>
    </div>    
  <!--/Form with header-->
</section>

<!-- Modal -->
<div class="modal fade" id="fotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Subir Foto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input style="width: 90%;" class="input-photo" type="file" (change)="subirImagen($event)">
                <div class="mb-4">
                    <img src="http://localhost:3000/usuario/imagen/{{ foto }}" class="rounded-circle z-depth-1-half avatar-pic">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #f44336;" class="btn" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
                                