/*Cards*/
.cardLibro{
    display: inline-block;
    margin-top: 20px !important;
    margin-left: 10% !important;
}

.cardComentario{
    margin-top: 5px !important;
    margin-left: 35px !important;
}

/*Centrar Imagen*/
.center {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*Color modal*/
.gradient {
  background-image:
  linear-gradient(
    to right, 
    #33b5e5, 
    #0099CC, 
    #2BBBAD,
    #00C851
  );
}

html,body { 
    overflow:hidden; 
}

