<div style="background-color: #fff9c4 ;">
    <!--CARD LIRBOS-->
<div style="margin-top: 80%;" class="ui card cardLibro" *ngFor = 'let item of lista'>
        <div class="content">
          <div class="right floated meta">14h</div>
          <img class="ui avatar image" src="/assets/categoria.jpg"> {{ item.titulo }}
        </div>
        <div class="image">
          <img style="height: 400px !important;"  src="http://localhost:3000/libro/imagen/{{ item.portada }}" >
        </div>
        <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
          <i class="comment icon"></i>
          <a data-toggle="modal" data-target="#modalComentario" (click)="setData(item); comentariosLibro(item.idLibro);">comentarios</a>
        </div>
        <div class="extra content">
          <div class="ui large transparent left icon input">
            <i class="heart outline icon"></i>
            <input type="text" #comentario placeholder="Add Comment..."> 
          </div>
          <div>
            <a class="btn btn-info btn-rounded" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" (click)='crearComentario(item.idLibro,comentario.value)'>Comentar</a>
        </div>
        </div>
    </div>
</div>
   

<!--MODAL COMENTARIO-->
<!-- Modal -->
<div class="modal fade modalComentario gradient" id="modalComentario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="image content center">
        <div class="ui medium image">
            <img src="http://localhost:3000/libro/imagen/{{ portada }}">
        </div>
    </div>
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Comentarios</h3>
    </div>
    <div class="scrolling content">
        <div class="ui cards cardComentario" *ngFor = 'let item of listaComentariosLibro'>
            <div class="card">
                <div class="content">
                <i class="right floated like icon"></i>
                <i class="right floated star icon"></i>
                <div class="header">{{ obtenerUsuario(item.idUsuario) }}</div>
                <div class="description">
                    <p> {{ item.comentario }}</p>
                </div>
                <div class="extra content">
                    <div class="right floated author">
                        <img class="ui avatar image" src="http://localhost:3000/usuario/imagen/{{ obtenerFoto(item.idUsuario) }}">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-rounded" data-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>