<div>
</div>
<pdf-viewer [src]="pdfSrc" [render-text]="true" [page]="page" [show-all]="false" [autoresize]="true" style="display: block;">
</pdf-viewer>
<div style="margin-left: 46%;">
  <button class="btn btn-default" (click)="atras()">Atras</button>
  <button class="btn btn-default" (click)="siguiente()">Siguiente</button>
</div>