<!--INFORMACION-->
<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h1 style="font-family: 'Roboto Slab', serif;">GÉNEROS</h1>
          <i style="color: maroon" class="instagram icon"></i><i style="color: blue;" class="facebook icon"></i><i style="color: #FF8800;" class="snapchat icon"></i><i style="color: green;" class="whatsapp icon"></i><i style="color: red;" class="pinterest icon"></i>
        </li>
        <li class="list-group-item">Todos los libros y sus temáticas los encontrarás aquí.</li>
    </ul>
  </div>

<!--BUTTON AGREGAR-->
<button *ngIf='idRol == 1' class="ui basic button button-add" (click)="open(modalCreate); deleteData()">
    <i class="book icon"></i>
    Add Genero
</button>
  
  <!--BUSCADOR-->
  <div class="md-form" style="width: 350px; margin-top: 10px;">
    <i class="fa fa-envelope prefix"></i>
    <input type="text" id="inputIconEx1" class="form-control" [(ngModel)]="data" (keyup)= 'buscarCategoria(data)'>
    <label for="inputIconEx1">Search</label>
  </div>
  <!-- msg Error -->
  <div class="alert alert-dismissible alert-danger" *ngIf= "msgError" >
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>ERROR GENERO NO ENCONTRADO</h4>
      <p>No hay un Genero que coincida con: {{data}} </p>
  </div>
  
  <!--CARD CATEGORIAS-->
  <div class="ui link cards card-data">
    <div class="card" *ngFor = 'let item of lista'>
      <div class="image">
        <img src="/assets/categoria.jpg">
      </div>
      <div class="content">
        <div class="header">{{item.categoria}}</div>
      </div>
      <div class="extra content" *ngIf='idRol == 1'>
          <button class="btn btn-default" (click)="open(modalUpdate); setData(item)">Editar</button>
          <button class="btn btn-default" (click)="open(modalDelete); setData(item)">Eliminar</button>
      </div>
    </div>
  </div>
  
  <!-- modal Agregar-->
  <ng-template #modalCreate let-c="close" let-d="dismiss">
      <div class="modal-header ">
        <h4 class="modal-title">Agregar</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label>Genero</label>
          <input [(ngModel)] = 'categoria' type="text" class="form-control" placeholder="Escribir Aqui">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click'); createCategoria(categoria)">Confirmar</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
      </div>
  </ng-template>
      
  <!-- modal Actualizar-->
  <ng-template #modalUpdate let-c="close" let-d="dismiss">
      <div class="modal-header" >
      <h4 class="modal-title">Editar</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <label>Genero</label>
        <input [(ngModel)] = 'categoria' type="text" class="form-control" placeholder="Escribir Aqui">
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="c('Close click'); updateCategoria(categoria)">Confirmar</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
      </div>
  </ng-template>
      
  <!-- modal Eliminar-->
  <ng-template #modalDelete let-c="close" let-d="dismiss">
    <div class="modal-header" >
    <h4 class="modal-title">Eliminar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <label>¿Esta seguro que quiere eliminar el siguiente registro?</label>
    <label>ID Categoria</label>
    <p>{{idCategoria}}</p>
    <label>Genero</label>
    <p>{{categoria}}</p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click'); deleteCategoria()">Si</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">No</button>
    </div>
  </ng-template>