<!--BUSCADOR-->
<div class="md-form" style="width: 350px; margin-top: 10px;">
      <i class="fa fa-envelope prefix"></i>
      <input type="text" id="inputIconEx1" class="form-control" [(ngModel)]="data" (keyup)= 'buscarUsuario(data)'>
      <label for="inputIconEx1">Search</label>
    </div>
<!-- msg Error -->
<div class="alert alert-dismissible alert-danger" *ngIf= "msgError" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error Chat no Encontrado</h4>
    <p>No tienes ningun Chat con: {{data}} </p>
</div>


<!-- CARD CHAT -->
<div class="card testimonial-card card-chat crd" *ngFor = 'let item of lista'>
  <!-- Bacground color -->
  <div class="card-up indigo lighten-1">
  </div>
  <!-- Avatar -->
  <div class="gradient">
    <img style="width: 150px; height: 150px; margin-top: 3%; margin-bottom: 3%;" src="http://localhost:3000/usuario/imagen/{{ item.foto }}" class="rounded-circle center">
  </div>
  <div class="card-body">
      <!-- Name -->
      <h4 style="font-family: 'Merriweather', serif; font-size: 20px;">{{ item.nombre }} {{ item.apellido }}</h4>
      <hr>
      <!-- Quotation -->
      <button data-toggle="modal" data-target="#modalCreate" (click)="setDataUsuario(item); getMensajes();" type="button" class="btn btn-primary">CHAT</button>
  </div>
</div>

<!-- MODAL CHAT -->
<div class="modal fade gradient" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div style="margin-left: 530px; margin-top: 10px;" class="modal-dialog"  role="document">
              <div class="modal-content card example-1 scrollbar-ripe-malinka" style="height: 500px !important; width: 450px;">
                  <div class="modal-header"> 
                      <h3 style="font-family: 'Roboto Slab', serif;" class="modal-title" id="exampleModalLabel">Chat {{nombre}}</h3>
                  </div>
                  <div class="scrolling content">
                      <div class="chatlogs" *ngFor = 'let item of listaMensajes'>
                          <div style="height: 10px;" *ngIf='item.idEmisor == idLogueado'>
                              <div class="chat self">
                                  <div class="div user-photo"><img src="http://localhost:3000/usuario/imagen/{{ fotoLogueado }}"></div>
                                  <p style="color: black;" class="chat-message">{{item.mensaje}}</p>
                              </div>
                          </div>
                          <div style="height: auto; width: auto;" *ngIf = 'item.idEmisor == idUsuario'>
                            <div class="chat friend">
                                <div class="div user-photo"><img src="http://localhost:3000/usuario/imagen/{{ foto }}"></div>
                                <p style="color: black;" class="chat-message">{{item.mensaje}}</p>
                            </div>
                          </div>
                      </div>
                  </div>
          </div>
      </div>
      <div  class="chat-form">
          <textarea  style="width: 350px; margin-left: 530px;" class="form-control" placeholder="Escribe Aqui" [(ngModel)] = 'mensaje'>
          </textarea>
          <button style="background-color: #4285F4;" type="button" (click)="('Close click'); createMensaje(mensaje); deleteData()">Enviar</button>
      </div>
      <div style="width: 400px; margin-left: 60%;">
          <button type="button" class="btn btn-danger btn-rounded" data-dismiss="modal" (click)='limpiarIntervalo();'>Close</button>
      </div>
</div>

