.button-add{
    margin-left: 10px;
    margin-top: 10px; 
}

.card-data{
    margin-left: 10%;
    margin-top: 5%;
}

.gradient {
    background-image:
    linear-gradient(
      to right, 
      #212121, 
      #212121, 
      #212121,
      #212121
    );
}

.center {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}