<div style="background-color: #fff9c4 ;">
  <!-- msg Error -->
  <div class="alert alert-dismissible alert-danger" *ngIf= "msgError" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error Contacto no Encontrado</h4>
    <p>No hay un Contacto que coincida con: {{data}} </p>
  </div>

  <!-- Grid row -->
  <div class="row"> 
    <!-- Grid column -->
    <div class="col-md-12 mb-4">
      <div class="card card-image" style="background-image: url(/assets/fondo-autor.jpg); height: 150%">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="purple-text">
              <i class="fa fa-plane"></i>
              <strong> Biografías</strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
                <h1 style="font-family: 'Roboto Slab', serif;">Autores</h1>
            </h3>
            <p class="pb-3">Encontrarás todas las biografías existentes! Descrube más sobre tu autor favorito y sus obras literarias... El séptimo arte se ha rendido ante algunos de los autores más importantes de la literatura universal. Las obras de Franz Kafka, Truman Capote, Jane Austen o Charles Bukowski dieron el salto a la pantalla gracias al ánimo y la admiración de aquellos cineastas que supieron apreciar la eterna contribución de éstos y otros escritores. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->  
  </div>
  <!-- Grid row -->
                
  <!--BUTTON AGREGAR-->
  <button style="margin-left: 3%; margin-top: 10%;" class="ui basic button button-add" (click)="open(modalCreate); deleteData()" *ngIf = 'idRol == 1'>
      <i class="address book icon"></i>
      Add Author
    </button>
    
  <!--BUSCADOR-->
  <div class="md-form" style="margin-left: 1%; width: 25%; margin-top: 2%;">
    <i class="fa fa-envelope prefix"></i>
    <input type="text" id="inputIconEx1" class="form-control" [(ngModel)]="data" (keyup)= 'buscarAutor(data)'>
    <label for="inputIconEx1">Search</label>
  </div>
                              

  <!-- Section: Magazine v.2 -->
  <section style="margin-left: 5%;" class="magazine-section my-5">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center my-5">Un poco de historia...</h2>
      <!-- Section description -->
      <p class="text-center dark-grey-text w-responsive mx-auto mb-5">El manco de Lepanto nos brindó “el mejor trabajo literario jamás escrito”, según el prestigioso Norwegian Book Club. “Don Quijote”, que se ha convertido en el libro más editado y traducido de la historia después de la Biblia.
      </p>
    
      <!-- Grid row -->
      <div class="row">
    
        <!-- Grid column -->
        <div class="col-lg-6 col-md-12">
    
          <!-- Featured news -->
          <div class="single-news mb-lg-0 mb-4">
    
            <!-- Image -->
            <div class="view overlay rounded z-depth-1-half mb-4">
              <img class="img-fluid" src="/assets/literatura.jpg" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
    
            <!-- Data -->
            <div class="news-data d-flex justify-content-between">
              <a href="#!" class="deep-orange-text"><h6 class="font-weight-bold"><i class="fa fa-cutlery pr-2"></i>Literatura</h6></a>
              <p class="font-weight-bold dark-grey-text"><i class="fa fa-clock-o pr-2"></i>27/02/2018</p>
            </div>
    
            <!-- Excerpt -->
            <h3 class="font-weight-bold dark-grey-text mb-3"><a>Siglo XVIII </a></h3>
            <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">La literatura es una de las 7 bellas artes, junto con la Arquitectura, la Escultura, la Pintura, la Música, la Declamación y la Danza. Es un arte que utiliza como instrumento la palabra, y de esta manera crea belleza. Se refiere también al conjunto de producciones creadas en un país, de una época o de un género.
                La literatura es muy importante ya que es la manera de mantener las experiencias, ideas, formas de vivir, costumbres, etc. de las generaciones pasadas a las próximas tal cual como ellos querían decidían relatarla y/o detallarla. Es la forma de explicar una época, una situación o un momento de seres del pasado hacia el futuro.
            </p>
            <p></p>
            <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">
              A lo largo del tiempo la literatura fue cambiando, principalmente porque los autores fueron influenciados por el contexto de la época y las ideas que los rodeaban. Ésta es un reflejo de los cambios en el contexto social, político y geográfico en el que la obra se desarrolla. La extensa biblioteca de la literatura ha sido dividida en corrientes con características específicas, que a continuación serán expuestas. 
            </p>
          </div>
          <!-- Featured news -->
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-6 col-md-12">
    
          <!-- Small news -->
          <div class="single-news mb-4">
    
            <!-- Grid row -->
            <div class="row">
    
              <!-- Grid column -->
              <div class="col-md-3">
    
                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img style="height: 200px; width: 200px;" class="img-fluid" src="/assets/novela.jpg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
    
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-9">
    
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">Novela</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="#!" class="dark-grey-text">La novela es una obra literaria en la que se narra una acción fingida...</a>
                  </div>
                  <a><i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
              <!-- Grid column -->
    
            </div>
            <!-- Grid row -->
    
          </div>
          <!-- Small news -->
    
          <!-- Small news -->
          <div class="single-news mb-4">
    
            <!-- Grid row -->
            <div class="row">
    
              <!-- Grid column -->
              <div class="col-md-3">
    
                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img style="height: 200px; width: 200px;" class="img-fluid" src="/assets/ficcion.png" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
    
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-9">
    
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">Ficción</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="#!" class="dark-grey-text">Es la simulación de la realidad que realizan las obras literarias...</a>
                  </div>
                  <a><i class="fa fa-angle-double-right"></i></a>
                </div>
    
              </div>
              <!-- Grid column -->
    
            </div>
            <!-- Grid row -->
    
          </div>
          <!-- Small news -->
    
          <!-- Small news -->
          <div class="single-news mb-4">
    
            <!-- Grid row -->
            <div class="row">
    
              <!-- Grid column -->
              <div class="col-md-3">
    
                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img style="height: 200px; width: 200px;" class="img-fluid" src="/assets/poesia.jpg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
    
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-9">
    
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">Poesía</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="#!" class="dark-grey-text">Género literario considerado como una manifestación de la belleza o del sentimiento estético.</a>
                  </div>
                  <a><i class="fa fa-angle-double-right"></i></a>
                </div>
    
              </div>
              <!-- Grid column -->
    
            </div>
            <!-- Grid row -->
    
          </div>
          <!-- Small news -->
    
          <!-- Small news -->
          <div class="single-news">
    
            <!-- Grid row -->
            <div class="row">
    
              <!-- Grid column -->
              <div class="col-md-3">
    
                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
                  <img style="height: 200px; width: 200px;" class="img-fluid" src="/assets/comedia.jpg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-9">
    
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">Comedia</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-lg-3">
                    <a href="#!" class="dark-grey-text">Obra dramática, en especial la que muestra lo ridículo...</a>
                  </div>
                  <a><i class="fa fa-angle-double-right"></i></a>
                </div>
    
              </div>
              <!-- Grid column -->
    
            </div>
            <!-- Grid row -->
    
          </div>
          <!-- Small news -->
    
        </div>
        <!--Grid column-->
    
      </div>
      <!-- Grid row -->
    
  </section>
    <!-- Section: Magazine v.2 -->
                
<!--CARD AUTOR-->
<div class="ui link cards card-data">
    <div class="card" *ngFor = 'let item of lista'>
        <div class="image" *ngIf='idRol == 1'>
          <img style="height: 300px !important;" data-toggle="modal" data-target="#fotoModal" (click)="setData(item)" src="http://localhost:3000/autor/imagen/{{ item.foto }}">
        </div>
        <div class="image" *ngIf='idRol == 2'>
            <img style="height: 300px !important;" data-toggle="modal" data-target="#modalBiografia" (click)="setData(item)" src="http://localhost:3000/autor/imagen/{{ item.foto }}">
        </div>
        <div class="content">
          <div class="header">{{item.nombre}}</div>
          <div class="meta">
            <a>{{item.apellido}}</a>
          </div>
          <button class="btn btn-default" (click)="open(modalUpdate); setData(item)" *ngIf='idRol == 1'>Editar</button>
          <button class="btn btn-default" (click)="open(modalDelete); setData(item)" *ngIf='idRol == 1'>Eliminar</button>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{ obtenerPais(item.idPais) }}
          </span>
          <span>
            <i class="user icon"></i>
            Follows
          </span>
        </div>
    </div>
  </div>

<!-- modal Agregar-->
<ng-template #modalCreate let-c="close" let-d="dismiss">
    <div class="modal-header ">
      <h4 class="modal-title">Agregar</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <label>Nombre</label>
        <input [(ngModel)] = 'nombre' type="text" class="form-control" placeholder="Escribir Aqui">
        <label>Apellido</label>
        <input [(ngModel)] = 'apellido' type="text" class="form-control" placeholder="Escribir Aqui">
        <label>Biografia</label>
        <textarea class="form-control" placeholder="Escribe Aqui" [(ngModel)] = 'biografia'></textarea>
    </div>
    <label style="margin-left: 10px">Pais</label>
    <div class="form-group">
        <select style="margin-left: 10px; width: 470px;" [(ngModel)] = 'idPais' class="form-control combo" id="exampleSelect1">
          <option *ngFor='let item of listaPaises;' value='{{item.idPais}}'>{{item.pais}}</option>
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click'); createAutor(nombre, apellido,biografia, idPais)">Confirmar</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>
<!-- modal Actualizar-->
<ng-template #modalUpdate let-c="close" let-d="dismiss">
  <div class="modal-header" >
  <h4 class="modal-title">Editar</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <label>Nombre</label>
    <input [(ngModel)] = 'nombre' type="text" class="form-control" placeholder="Escribir Aqui">
    <label>Apellido</label>
    <input [(ngModel)] = 'apellido' type="text" class="form-control" placeholder="Escribir Aqui">
    <label>Biografia</label>
    <textarea [(ngModel)] = 'biografia' type="text" class="form-control" placeholder="Escribir Aqui"></textarea>
  </div>
  <label style="margin-left: 10px">Pais</label>
  <div class="form-group">
      <select style="margin-left: 10px; width: 470px;"  [(ngModel)] = 'idPais' class="form-control combo" id="exampleSelect1">
        <option *ngFor='let item of listaPaises;' value='{{item.idPais}}'>{{item.pais}}</option>
      </select>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="c('Close click'); updateAutor(nombre, apellido, idPais)">Confirmar</button>
  <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>
  
<!-- modal Eliminar-->
<ng-template #modalDelete let-c="close" let-d="dismiss">
  <div class="modal-header" >
  <h4 class="modal-title">Eliminar</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <label>¿Esta seguro que quiere eliminar el siguiente registro?</label>
  <hr>
    <label>ID Autor</label>
    <p>{{idAutor}}</p>
    <label>Nombre</label>
    <p>{{nombre}}</p>
    <label>Apellido</label>
    <p>{{apellido}}</p>
    <label>Pais</label>
    <p>{{idPais}}</p>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click'); deleteAutor()">Si</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">No</button>
  </div>
</ng-template>

<!-- Modal -->
<div class="modal fade" id="fotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Subir Foto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <input class="input-photo" type="file" (change)="subirFoto(idAutor,$event)">
          </div>
          <div class="modal-footer">
              <button type="button" style="background-color: #f44336;" class="btn" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!--MODAL BIOGRAFIA-->
<!-- Modal -->
<div class="modal fade modalBiografia gradient" id="modalBiografia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" *ngFor = 'let item of lista'>
    <div class="modal-content" *ngIf='item.idAutor == idAutor'>
        <div class="modal-header">
          <h3 style="font-family: 'Roboto Slab', serif; font-size: 200%;" class="modal-title" id="exampleModalLabel">Biografía {{nombre}} {{apellido}}</h3>
        </div>
        <div class="image content center">
            <div class="ui medium image center" >
              <img src="http://localhost:3000/autor/imagen/{{ item.foto }}">
            </div>
        </div>
        <div class="scrolling content">
          <div class="card-body">
            <!-- Text -->
            <p class="card-text">{{biografia}}</p>            
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-rounded" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
                            