
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <div class="view">
              <img style="height: 720px;" class="d-block w-100" src="/assets/books.jpg" alt="First slide">
              <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <ul class="animated fadeInUp col-md-12 list-unstyled list-inline">
              <li>
                <h1 style="font-size: 400%; font-family: 'Roboto Slab', serif;" class="font-weight-bold text-uppercase">Virtual Books Kinal</h1>
              </li>
              <li>
                <h1 *ngIf = 'token' class="font-weight-bold text-uppercase">Bievenido {{nombre}}</h1>
              </li>
              <li>
                <p class="font-weight-bold text-uppercase py-4">Una experiencia inolvidable!</p>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.google.com/maps/place/Centro+Educativo+T%C3%A9cnico+Laboral+KINAL/@14.6254366,-90.5381718,17z/data=!3m1!4b1!4m5!3m4!1s0x8589a190308858f1:0x6795822b2b81d4ac!8m2!3d14.6254314!4d-90.5359831" class="btn btn-unique btn-lg btn-rounded mr-0 waves-effect waves-light">Visítanos!</a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="informacion" class="btn btn-cyan btn-lg btn-rounded ml-0 waves-effect waves-light">Conócenos!</a>
              </li>
            </ul>
          </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div style="height: 720px;" class="gradient"><img class="imagen" src="/assets/books7.jpg"></div>
        <div style="margin-top: 10px;" class="carousel-caption" id="izquierda">
          <h1 style="font-size: 100px;" class="card-title">BOOKS!</h1>
          <h5>CUANTO MENOS SE LEE, MÁS DAÑO HACE LO QUE SE LEE!</h5>
      </div> 
        <div class="carousel-caption">
            <h3 class="h3-responsive">Encontrarás libros de tu gusto!</h3>
            <p>¿Qué esperas?</p>
        </div>
    </div>
      <div class="carousel-item">
          <!--Mask color-->
          <div class="">
              <img style="height: 720px;" class="d-block w-100" src="/assets/saludo.png" alt="Second slide">
              <div class="mask rgba-black-strong gradient"></div>
          </div>
          <div class="carousel-caption">
              <h3 class="h3-responsive">Estamos al servicio de nuestros usuarios!</h3>
              <p>Acércate con nosotros...</p>
          </div>
      </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->





              
              