.gradient {
    background-color: #f44336;
}

.imagen{
    width: 450px;
    height: 500px;
    margin-left: 1000px;
    margin-top: 50px;
}

#izquierda{
    float: left;
    margin-top: 0px !important;
    padding: 10px;
    width: 300px;
    margin: 40px;
    height: 500px;
}