<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
        <form (ngSubmit)='registrarse(nombre, apellido, correo, telefono, usuario, pass)' class="ui large form">
            <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input [(ngModel)]='nombre' type="text" name="email" placeholder="Name">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input [(ngModel)]='apellido' type="text" name="apellido" placeholder="LastName">
                </div>
            </div>
            <div class="field">
                    <div class="ui left icon input">
                        <i class="file alternate outline icon"></i>
                        <input [(ngModel)]='correo' type="email" name="correo" placeholder="E-mail">
                    </div>
                </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="phone icon"></i>
                    <input [(ngModel)]='telefono' type="text" name="telefono" placeholder="Phone">
                </div>
            </div>
            <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input [(ngModel)]='usuario' type="text" name="usuario" placeholder="Username">
                    </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input [(ngModel)]='pass' type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div>
                <button class="ui fluid large teal submit button">Sign in</button>
            </div>
            </div>  
            <div class="ui message">
                Already have an account? <a href="login">Log-in</a>
            </div>                    
            </form>
        </div>
    </div>
</body>