<!--Footer-->
<footer style="background-color: #4285F4;" class="page-footer font-small ">

    <!--Footer Links-->
    <div style="background-color: #4285F4;" class="container">

        <!--First row-->
        <div style="background-color: #4285F4;" class="row">

            <!--First column-->
            <div class="col-md-12 py-5">

                <div class="mb-5 flex-center">
                    <!--Facebook-->
                    <a>
                        <i class="facebook icon"></i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i class="twitter icon"></i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic">
                        <i class="google icon"></i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic">
                        <i class="linkedin in icon"></i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                            <i class="instagram icon"></i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="pinterest icon"></i>
                    </a>
                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div style="background-color: #0d47a1;" class="footer-copyright py-3 text-center">
        © 2018 Biblioteca
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->
                      