<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
        <form (ngSubmit)='login(usuario, pass)' class="ui large form">
            <div class="ui stacked segment">
            <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input [(ngModel)]='usuario' type="text" name="email" placeholder="Username">
            </div>
            </div>
            <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input [(ngModel)]='pass' type="password" name="password" placeholder="Password">
            </div>
            </div>
            <div>
                <button class="ui fluid large teal submit button">Login</button>
            </div>
            </div>  
            <div class="ui message">
                New to us? <a href="registrarse">Sign Up</a>
            </div>                    
        </form>
        </div>
    </div>
</body>

    