<nav  class="mb-1 navbar navbar-expand-lg navbar-dark color-nav">
  <a style="color: black;" class="navbar-brand" [routerLink]="['home']" ><img style="width: 70px;" src="/assets/logo.jpeg"></a>
  <a style="color: black; font-size: 150%; font-family: 'Roboto Slab', serif;" class="nav-link waves-effect waves-light" *ngIf = 'token'>
    <i class="fa fa-gear"></i> Bienvenido {{nombre}}!
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarSupportedContent-4" >
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a style="color: black;" class="nav-link waves-effect waves-light" *ngIf = '!token' [routerLink]="['home']">
                <i class="fa fa-envelope"></i> Home
                <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link waves-effect waves-light" *ngIf = 'token' [routerLink]="['calendario']">
            <i class="fa fa-gear "></i>Calendario</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link waves-effect waves-light" *ngIf = 'idRol == 1 && token' [routerLink]="['prestamos']">
            <i class="fa fa-gear"></i>Prestamos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link waves-effect waves-light" *ngIf = 'idRol == 1 && token' [routerLink]="['editoriales']">
            <i class="fa fa-gear"></i> Editoriales</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link waves-effect waves-light" *ngIf = 'idRol == 1 && token' [routerLink]="['categorias']">
            <i class="fa fa-gear "></i> Generos</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link waves-effect waves-light" *ngIf = 'token' [routerLink]="['chat']">
            <i  class="fa fa-gear"></i> Chats</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link waves-effect waves-light" *ngIf = 'token' [routerLink]="['libros']">
            <i class="fa fa-gear"></i> Libros</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link waves-effect waves-light" *ngIf = 'token' [routerLink]="['publicaciones']">
            <i class="fa fa-gear"></i> Publicaciones</a>
          </li>
          <li class="nav-item">
            <a style="color: black;" class="nav-link waves-effect waves-light" *ngIf = 'token' [routerLink]="['autores']">
            <i class="fa fa-gear"></i> Autores</a>
          </li>
          <li class="nav-item dropdown">
              <a style="color: black;"  class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-user"></i> Perfil </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                <a style="color: black;" class="dropdown-item waves-effect waves-light" *ngIf = 'token' [routerLink]="['perfil']">Mi Cuenta</a>
                <a style="color: black;" class="dropdown-item waves-effect waves-light" *ngIf = '!token' [routerLink]="['login']">Login</a>
                <a style="color: black;" class="dropdown-item waves-effect waves-light" *ngIf = 'token' (click)="logOut()">Log out</a>
              </div>
          </li>
      </ul>
  </div>
</nav>