.button-add{
    margin-left: 10px;
    margin-top: 10px; 
}

.card-data{
    margin-left: 10%;
    margin-top: 5%;
}

.fondo-libro{
    background-image: url("/assets/fondo-libro.jpg");
    height: 70%;
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    opacity: 0.5 !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#imagen-recomendacion{
    margin-top: 5% !important;
    margin-left: 10%;
    background-image: url("/assets/la-chica.jpg");
    width: 90%;
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;   
}

#izquierda{
    float: left;
    margin-top: 5px !important;
    padding: 10px;
    width: 300px;
    margin: 40px;
}

#derecha{
    float: left;
    margin-top: 10px !important;
    padding: 10px;
    width: 1000px;
    margin: 40px;
}