<div style="background-color: #fff9c4 ;">
    <!--INFORMACION-->
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h1 style="font-family: 'Roboto Slab', serif;">PRESTAMOS</h1>
                <i style="color: maroon" class="instagram icon"></i>
                <i style="color: blue;" class="facebook icon"></i>
                <i style="color: #FF8800;" class="snapchat icon"></i>
                <i style="color: green;" class="whatsapp icon"></i>
                <i style="color: red;" class="pinterest icon"></i>
            </li>
        </ul>
    </div>
  
    <!--BUSCADOR-->
    <div class="md-form" style="width: 350px; margin-top: 10px;">
        <i class="fa fa-envelope prefix"></i>
        <input type="text" id="inputIconEx1" class="form-control" [(ngModel)]="data" (keyup)= 'buscarLibro(data)'>
        <label for="inputIconEx1">Search</label>
    </div>

    <!-- msg Error -->
    <div class="alert alert-dismissible alert-danger" *ngIf= "msgError" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Error Libro no Encontrado</h4>
        <p>No hay un Libro que coincida con: {{data}} </p>
    </div>
    
    <!--CARD PRESTAMOS-->
    <div class="ui link cards card-data">
        <div class="card" *ngFor = 'let item of lista'>
            <div class="image" *ngIf='idRol == 1'>
                <img style="height: 400px !important;" data-toggle="modal" data-target="#portadaModal" (click)="setData(item)" src="http://localhost:3000/libro/imagen/{{ obtenerPortada(item.idLibro) }}">
            </div>
            <div class="content">
                <div class="header">Libro Prestado</div><br>
                <div class="body"><strong><p>Titulo: </p></strong><span>{{ obtenerLibro(item.idLibro) }}</span></div>
                <div class="body"><strong><p>Prestado a:</p></strong><span>{{ obtenerUsuario(item.idUsuario) }}</span></div>
                <div class="body"><strong><p>Fecha de Entrega:</p></strong><span>{{ item.fechaFinal }}</span></div>
            </div>
            <div class="extra content" *ngIf='idRol == 1'>
                <button style="margin-left: 22%;" class="btn btn-default" (click)="open(modalEntregado); setData(item)">ENTREGADO</button>
            </div>
        </div>
    </div>
<!-- Card Wider -->
</div>
  
<!-- modal Agregar-->
<ng-template #modalCreate let-c="close" let-d="dismiss">
      <div class="modal-header ">
        <h4 class="modal-title">Agregar</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label>Titulo</label>
          <input [(ngModel)]='titulo' type="text" class="form-control" placeholder="Escribir Aqui">
      </div>
      <label style="margin-left: 10px">Autor</label>
      <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"  [(ngModel)]='idAutor' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaAutores;' value='{{item.idAutor}}'>{{item.nombre}} {{item.apellido}}</option>
        </select>
      </div>
      <label style="margin-left: 10px">Editorial</label>
      <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"  [(ngModel)] = 'idEditorial' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaEditoriales;' value='{{item.idEditorial}}'>{{item.editorial}}</option>
        </select>
      </div>
      <div class="modal-body">
        <label>Edicion</label>
        <input [(ngModel)] = 'edicion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Tema</label>
        <input [(ngModel)] = 'tema' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Paginas</label>
        <input [(ngModel)] = 'paginas' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Descipcion</label>
        <input [(ngModel)] = 'descripcion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <label style="margin-left: 10px">idCategoria</label>
      <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"  [(ngModel)] = 'idCategoria' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaCategorias;' value='{{item.idCategoria}}'>{{item.categoria}}</option>
        </select>
      </div>
    <div class="modal-body">
        <label>Cantidad</label>
        <input [(ngModel)] = 'cantidad' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Disponibles</label>
        <input [(ngModel)] = 'disponibles' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Fecha Publicacion</label>
        <input [(ngModel)] = 'fechaPublicacion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click'); createLibro(titulo,idAutor,idEditorial,edicion,tema,paginas,descripcion,idCategoria,cantidad,disponibles,fechaPublicacion); deleteData()">Confirmar</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>
      
<!-- modal Actualizar-->
<ng-template #modalUpdate let-c="close" let-d="dismiss">
    <div class="modal-header" >
        <h4 class="modal-title">Editar</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>Titulo</label>
        <input [(ngModel)] = 'titulo' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <label style="margin-left: 10px">Autor</label>
    <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"   [(ngModel)] = 'idAutor' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaAutores;' value='{{item.idAutor}}'>{{item.nombre}} {{item.apellido}}</option>
        </select>
    </div>
    <label style="margin-left: 10px">Editorial</label>
    <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"   [(ngModel)] = 'idEditorial' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaEditoriales;' value='{{item.idEditorial}}'>{{item.editorial}}</option>
        </select>
    </div>
    <div class="modal-body">
        <label>Edicion</label>
        <input [(ngModel)] = 'edicion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Tema</label>
        <input [(ngModel)] = 'tema' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Paginas</label>
        <input [(ngModel)] = 'paginas' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Descipcion</label>
        <input [(ngModel)] = 'descripcion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <label style="margin-left: 10px">Categoria</label>
    <div class="form-group">
        <select style="margin-left: 10px; width: 470px;"   [(ngModel)] = 'idCategoria' class="form-control combo" id="exampleSelect1">
            <option *ngFor='let item of listaCategorias;' value='{{item.idCategoria}}'>{{item.categoria}}</option>
        </select>
    </div>
    <div class="modal-body">
        <label>Cantidad</label>
        <input [(ngModel)] = 'cantidad' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Disponibles</label>
        <input [(ngModel)] = 'disponibles' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-body">
        <label>Año</label>
        <input [(ngModel)] = 'fechaPublicacion' type="text" class="form-control" placeholder="Escribir Aqui">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="c('Close click'); updateLibro(); modificarCantidad(cantidad)">Confirmar</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>
      
<!-- modal Eliminar-->
<ng-template #modalEntregado let-c="close" let-d="dismiss">
<div class="modal-header" >
    <h4 class="modal-title">LIBRO ENTREGADO</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <h5>Entrega de Libro</h5>
        <label>ID Libro</label>
        <p>{{idLibro}}</p>
        <label>Titulo</label>
        <p>{{ obtenerLibro(idLibro)}}</p>
        <label>Fecha Prestado</label>
        <p>{{ fechaInicio }}</p>
        <label>Fecha Entrega</label>
        <p>{{ fechaFinal }}</p>
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click');deletePrestamo();">Si</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">No</button>
</div>
</ng-template>