#imagen-ppt{
    background-image: url("/assets/16.png");
    width: 1200px;
    margin-left: 150px;
    margin-top: 50px;
    border: 0;
    height: 350px;
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}